:root {
    --primary-green: #cad2a2;
    --gold-brown: #b08d57;
    --dark-bg: #1a1a1a;
    --light-cream: #fcfdf2;
}

body {
    background-color: var(--light-cream);
    font-family: 'Poppins', sans-serif; 
    color: #333;
}

.section-padding { padding: 30px 0; 
font-family: 'Nunito', sans-serif; 
}

.brand-logo {
    font-family: 'Kaushan Script', cursive;
    color: var(--primary-green);
    font-size: 2.8rem;
}

.hero-main-title {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--gold-brown);
    font-size: 5rem; 
    letter-spacing: 4px;
    line-height: 0.9;
}

.hero-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    max-width: 600px;
}

.section-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000;
}

.custom-rounded-img { border-radius: 45px; }

.values-container {
    background-color: var(--primary-green);
    border-radius: 60px;
    padding: 70px 40px;
}

.value-item-card {
    background-color: #fff;
    border-radius: 25px;
    padding: 40px 20px;
}

.value-item-card h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--gold-brown);
    font-weight: 700;
}

